.about-landing {
    height: 100vh; /* Set the height of the landing div to be the height of the viewport */
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            ),
            url('https://www.tvdsb.ca/en/schools/resources/Information-for-Grade-8-Students/Info-for-Grade-8-banner.jpg');
    /*background-image: linear-gradient(*/
    /*        rgba(0, 0, 0, 0.5),*/
    /*        rgba(0, 0, 0, 0.5)*/
    /*),*/
    /*url("https://www.tvdsb.ca/en/schools/resources/Information-for-Grade-8-Students/Info-for-Grade-8-banner.jpg") no-repeat center center; !* Set the background image to cover the landing div *!*/
    background-size: cover; /* Scale the background image to cover the entire landing div */
    display: flex; /* Use flexbox to center the content vertically and horizontally */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-landing p{
    padding: 5em;
    font-size: x-large;
    font-weight: bold;
    color: white;
}
@media screen and (max-width: 760px) {
    .about-landing p{
        font-size: medium;
    }
    /* .landing{
        display: flex;
        flex-direction: column;
    } */
}
@media screen and (max-width: 375px) {
    .about-landing p{
        font-size:small;
        padding: 2em;
    }
    /* .landing{
        display: flex;
        flex-direction: column;
    } */
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}
.info-container{
    margin-left: 5em;
    margin-right: 5em;
    padding-left:5em ;
    padding-right:5em ;
    text-align: center;
}
.info-container p{
    color: #125be2;
}
div.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 180px;
}

div.gallery img {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /*border-radius: 50%;*/
    /*width: 100%;*/
    /*height: auto;*/
}

div.desc {
    text-align: center;
}
div.name{
    padding:5px;
    text-align: center;
}
