.footer {
    background-color: #8fb1f1;
    padding: 20px 0;
    margin-top: 5rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .footer-logo img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-size: 100%;
  }
  

  
  .footer-links {
    margin-top: 20px;
  }
  
  .footer-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-menu li a:hover {
    color: #125be2;
  }
  
  .footer-social {
    margin-top: 20px;
  }
  
  .footer-social a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
  }
  .footer-social img{
    width: 40px;
    height: 40px;
    mix-blend-mode: multiply;
  }
  
  .footer-bottom {
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  